target/
#JAVA SPECIFIC IGNORES
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.fsm

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# IntelliJ
**/.idea
*.iml
/test-output

# Serialisierung Dateien
*.ser
